.detailImg{
    height: 700px;
    width: 700px;
    float: left;
    margin-left: 100px;;
}

.link{
    text-decoration: none;
    }
    
    h2 >a{
        color:slategrey;
    }
    
    .detailId{
        margin-top: 70px;
        color: black;
        float: left;
        font-size: 20px;        
        width: 50%;
    }
    
    .detailDesc{
        color: gray;
        margin-left: 50px;
        float: left;
        font-size: 30px;       
        width: 50%;
    }

    .detailName{
        float: right;
        font-size: 50px;
        border:1px solid gray;
        width: 50%;
        margin-right: 50px;
    }

    .detailPrice{
        float: right;
        font-size: 40px;
        /* border:1px solid gray; */
        width: 80%;
        margin-right: 50px;
    }

    .descContainer{   
        margin-right: 50px; 
        display: grid;
        grid-template-columns: 1fr 1fr; 
        margin-left: 50px;
        border:1px solid gray;
        float: right;
        width: 50%; 
    }

    .detailBttn{
        margin-top: 20px;
    }
   
    button {
        background-color: rgb(221, 118, 22);
        color: white;
        border: 0;
        text-align: center;
        padding: 15px;
        border-radius: 5%;
        width: 300px;
        max-height: 60px;
        font-weight: bold;
        font-size: 20px;
    }

    .priceContainer{
        margin-right: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;            
        float: right;
        width: 50%;
    }

    .detailBox{
        margin-top: 50px;
    }

    .bttnContainer{
        margin-top: 30px;  
    }