.base-container {
 margin-top: 50px;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.header {
 font-size: 24px; 
}

.content {
 display: flex;
 flex-direction: column;
}

.image {
 width: 21em;
}

.form {
 margin-top: 2em;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.form-group {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 width: fit-content;
}

label {
 font-size: 20px;
}
input {
 margin-top: 6px;
 min-width: 18em;
 height: 37px;
 padding: 0px 10px;
 font-size: 16px;
 font-family: "Open Sans", sans-serif;
 background-color: #f3f3f3;
 border: 0;
 border-radius: 4px;
 margin-bottom: 31px;
}
.login-btn{
 color:white;
 text-decoration: none;
}
button {
 background-color: rgb(221, 118, 22);
 color: white;
 border: 0;
 padding: 15px;
 border-radius: 5%;
 width: 150px;
 font-weight: bold;
}
.link{
 color: white;
 text-decoration: none;
}

