.container{    
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;  
grid-column-gap: 30px; 
grid-row-gap: 30px; 
padding: 10px;
float:left;
margin-left:10px;
}
.productos{  
padding: 20px; 
border:1px solid gray;
border-radius: 10px;
}
.productImg{
height: 300px;
width: 300px;
}
.link{
text-decoration: none;
}

h2 >a{
    color:slategrey;
}

.id{
    color: black;
}

.desc{
    color: gray;
}