
.App {
  text-align: center;
  font-family: "Open Sans", sans-serif ;
}

nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(231, 100, 40);
  color: black;
}
.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 20px;
}
h1, h2, h3, h4{
 color:  rgb(233, 123, 20);
 font-weight: initial;
 list-style: none;
 text-decoration: none;
}
.logo{
  color: white;
  font-weight: bold;
  margin-left: 100px;
  font-size: 30px;
}
.link{
  color: rgb(10, 10, 10);
  text-decoration: none;
}